.header {
    background-color: #0b0c10;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

    >nav {
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: center;
        column-gap: 60px;
    }
}

.link {
    font-size: 24px;
    padding: 8px 16px;
    color: #45a29e;
    font-weight: 700;
    text-decoration: none;
}

.link:hover {
    background-color: #1f2833;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.linkActive {
    composes: link;
    color: #66fcf1;
    background-color: #1f2833;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}